@media all and (max-width: 1440px){
    main{
        width: 1440px;
    }
}
@media all and (max-width: 1024px) {
    main{
        width: 1024px;
    }
    main>section>div{
        padding: 13.5px 60px;
    }

    .run {
        padding: 10.5px 60px;
        margin-left: 12px;
        top: 225px;
    }

    .code {
        padding: 10.5px 60px;
        margin-left: 7px;
        top: 175px;
    }

    .run1 {
        padding: 10.5px 60px;
        margin-left: 10px;
        top: 435px;
    }

    .code2 {
        padding: 10.5px 60px;
        margin-left: 5px;
        top: 390px;
    }
}