#contact{
    width: 100vw;
    height: 570px;
    background: white;
    position: relative;
}
#contact>section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#contact>section>section:first-child>img{
    width: 700px;
    height: 467px;
}

#contact>section>section:nth-child(2)>div>input{
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    width: 400px;
    height: 3.3rem;
    padding: .5rem 3.5rem;
}
#contact>section>section:nth-child(2)>div>h3{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#contact>section>section:nth-child(2)>div>input::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#contact>section>section:nth-child(2)>div>textarea::placeholder{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}
#contact>section>section:nth-child(2)>div>textarea{
    background-color: #f2f6f8;
    border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
    width: 400px;
    height: 150px;
    padding: .5rem 3.5rem;
    resize: none;
    overflow-y: auto;
}

#contact>section>section:nth-child(2){
    display: flow;
    position: absolute;
    margin-top: -35px;
    margin-left: 838px;
}
#contact>section>section:nth-child(2)>button{
    padding: 19.5px 80px;
    border: 0;
    border-radius: 100px;
    background-color: #2ba8fb;
    color: #ffffff;
    font-weight: Bold;
    position: absolute;
    margin-left: 157px;
    top: 441px;
    font-size: 18px;
}
#contact>section>section:nth-child(2)>button:hover {
    background-color: #6fc5ff;
    box-shadow: 0 0 20px #6fc5ff50;
    transform: scale(0.9);
}
#contact>h1{
    font-size: 50px;
    color: black;
    margin-top: 15px;
    margin-left: 30px;

}

@media all and (max-width: 1024px){
    #contact>section>section:first-child>img{
        width: 575px;
        height: 476px;
    }

    #contact>section>section:nth-child(2){
        margin-left: 535px;
    }
    #contact>section>section:nth-child(2)>div>input{
        width: 335px;
    }
    #contact>section>section:nth-child(2)>button{
        margin-left: 105px;
        top: 430px;
    }
    #contact>section>section:nth-child(2)>div>textarea{
        width: 335px;
    }
}

@media all and (max-width: 768px){
    #contact>h1{
        font-size: 40px;
        margin-top: 5px;
    }
    #contact>section>section:nth-child(2){
        margin-left: 370px;
    }
    #contact>section>section:nth-child(2)>div>input{
        width: 260px;
    }
    #contact>section>section:nth-child(2)>button{
        margin-left: 60px;
        top: 430px;
    }
    #contact>section>section:nth-child(2)>div>textarea{
        width: 260px;
    }
    #contact>section>section:first-child>img{
        width: 393px;
        height: 443px;
    }
}

@media all and (max-width: 426px){
    #contact>section{
       display: flow;
    }
    #contact{
        height: 1025px;
    }
    #contact>section>section:first-child>img{
        width: 450px;
        height: 435px;
    }
    #contact>section>section:nth-child(2){
        margin-top: 5px;
        margin-left: 37px;
    }
    #contact>section>section:nth-child(2)>button{
        margin-left: 60px;
        top: 430px;
    }
}

@media all and (max-width: 376px){
    #contact>section>section:first-child>img{
        width: 408px;
        height: 425px;
    }

    #contact>section>section:nth-child(2)>button{
        margin-left: 33px;
        top: 430px;
    }
    #contact>section>section:nth-child(2)>div>input{
        width: 200px;
    }
    #contact>section>section:nth-child(2)>div>textarea{
        width: 200px;
    }
}

@media all and (max-width: 320px){
    #contact>section>section:first-child>img{
        width: 355px;
        height: 408px;
    }

    #contact>section>section:nth-child(2)>button{
        margin-left: 14px;
        top: 430px;
        padding: 18.5px 80px;
        font-size: 15px;
    }
    #contact>section>section:nth-child(2)>div>input{
        width: 150px;
    }
    #contact>section>section:nth-child(2)>div>textarea{
        width: 150px;
    }
}
